@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variante dark */
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
